body{
  background-color: #F1F1F1 !important;
}
#home-page-carousel,
#home-page-carousel .carousel-inner{
  height: 500px;
  max-height: 500px;
  min-height: 500px;
}
#show-product-carousel,
#show-product-carousel .carousel-inner{
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}
#home-page-carousel .carousel-inner .carousel-item img,
#show-product-carousel .carousel-inner .carousel-item img{
  max-height: 100vh;
}
.home-img-slider .slick-prev.slick-arrow,
.home-img-slider .slick-next.slick-arrow{
  width: 30px;
  height: 30px;
  font-size: 0px;
  position: absolute;
  top: 40%;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: unset;
  border: unset;
}
.home-img-slider .slick-prev.slick-arrow{
  left: -35px;
  background-image: url(../images/prev_icon.svg);
}
.home-img-slider .slick-next.slick-arrow{
  right: -40px;
  background-image: url(../images/next_icon.svg);
}
.top-footer{
  background-color: #444;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bottom-footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}
.footer-list{
  list-style: none;
  margin: unset;
  padding: unset;
}
.footer-list li{
  margin-top: 0.5rem;
}
.card.home-card{
  max-width: 300px;
}
.card.home-card img{
  max-height: 200px;
}
.subscribe-container{
  background-color: #0a4275;
  width: 300px;
  margin: auto;
}